* {
    box-sizing: border-box;
}
.loading {
    z-index: 10;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
    animation: text-color 2s ease-in-out infinite alternate-reverse;
}
.spinner-sec {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px dotted transparent;
    mix-blend-mode: lighten;
    animation: rotate var(--duration) var(--timming) infinite;
}
.spin-sec-one {
    border-left-color: lightcoral;
    --duration: 2s;
    --timming: ease-in;
}
.spin-sec-two {
    border-top-color: lightblue;
    --duration: 2s;
    --timming: ease-in-out;
}
.spin-sec-three {
    border-right-color: lightgreen;
    --duration: 2s;
    --timming: ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes text-color {
    0% {
        color: rgba(0, 0, 0, 0.8);
    }
    50% {
        color: rgba(0, 0, 0, 0.4);
    }
    100% {
        color: rgba(0, 0, 0, 0.2);
    }
}

/*------------------------ */
.load-wrapp {
    display: flex;
    // justify-content: center;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.active {
    user-select: none !important;
}
